<a href="https://colab.research.google.com/github/AsifIqbal123-cyber/machinelearning/blob/main/Adult_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
from sklearn.datasets import fetch_openml
import pandas as pd

# Load the dataset
X, y = fetch_openml(name='adult', version=2, as_frame=True, return_X_y=True)

# Print the first few rows of the dataset
print(X.head())
print(y.unique())


# Convert the data to a Pandas DataFrame
df = pd.DataFrame(adult_data.data, columns=adult_data.feature_names)
df['income']=y
# Create a DataFrame
print(df.head())

   age  workclass  fnlwgt     education  education-num      marital-status  \
0   25    Private  226802          11th              7       Never-married
1   38    Private   89814       HS-grad              9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm             12  Married-civ-spouse
3   44    Private  160323  Some-college             10  Married-civ-spouse
4   18        NaN  103497  Some-college             10       Never-married

          occupation relationship   race     sex  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                NaN    Own-child  White  Female             0             0

   hours-per-week native-country
0              40  United-States
1              50  United-States
2              40  United-States
3              40  United-States
4              30  United-States
['<=50K', '>50K']
Categories (2, object): ['<=50K', '>50K']
   age  workclass  fnlwgt     education  education-num      marital-status  \
0   25    Private  226802          11th              7       Never-married
1   38    Private   89814       HS-grad              9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm             12  Married-civ-spouse
3   44    Private  160323  Some-college             10  Married-civ-spouse
4   18        NaN  103497  Some-college             10       Never-married

          occupation relationship   race     sex  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                NaN    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [104]:
#Preprocess dataframe
print(df.shape)
(df == "?").sum()

(48842, 15)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [105]:
(df == "NaN").sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [106]:
# Rows that contain "?"

rows_with_missing_values = df[df.isin(["?"]).any(axis=1)]
print(rows_with_missing_values)

(df == "?").sum().sum()

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

np.int64(0)

In [95]:
# If missing values exist
# import numpy as np
# df.replace('?',np.nan)

# print(df.isnull().sum())

# Now check missing values
# print(df.isnull().sum())

# df= df.dropna()

In [107]:
print(df)

       age     workclass  fnlwgt     education  education-num  \
0       25       Private  226802          11th              7
1       38       Private   89814       HS-grad              9
2       28     Local-gov  336951    Assoc-acdm             12
3       44       Private  160323  Some-college             10
4       18           NaN  103497  Some-college             10
...    ...           ...     ...           ...            ...
48837   27       Private  257302    Assoc-acdm             12
48838   40       Private  154374       HS-grad              9
48839   58       Private  151910       HS-grad              9
48840   22       Private  201490       HS-grad              9
48841   52  Self-emp-inc  287927       HS-grad              9

           marital-status         occupation relationship   race     sex  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                NaN    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]

In [108]:
from sklearn.model_selection import train_test_split
# Find the X and y
features_names = df[:0]
features_names.shape
X = df.drop('income', axis=1)
y = df['income']

print(X.head())
print(y.head())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

len(X_train), len(X_test), len(y_train), len(y_test)

   age  workclass  fnlwgt     education  education-num      marital-status  \
0   25    Private  226802          11th              7       Never-married
1   38    Private   89814       HS-grad              9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm             12  Married-civ-spouse
3   44    Private  160323  Some-college             10  Married-civ-spouse
4   18        NaN  103497  Some-college             10       Never-married

          occupation relationship   race     sex  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                NaN    Own-child  White  Female             0             0

   hours-per-week native-country
0              40  United-States
1              50  United-States
2              40  United-States
3              40  United-States
4              30  United-States
0    <=50K
1    <=50K
2     >50K
3     >50K
4    <=50K
Name: income, dtype: category
Categories (2, object): ['<=50K', '>50K']

(39073, 9769, 39073, 9769)

In [109]:
# Conver the data into tensors
import torch
from sklearn.preprocessing import StandardScaler
# Convert the data into tensors
X_train = torch.tensor(X_train.values, dtype=torch.float32)
X_test = torch.tensor(X_test.values, dtype=torch.float32)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

y_train = torch.tensor(y_train.values, dtype=torch.float32).squeeze()
y_test = torch.tensor(y_test.values, dtype=torch.float32).squeeze()

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint64, uint32, uint16, uint8, and bool.

In [125]:
# Error above shows that the values have to numeric instead of string.
# Use One-hot encode categorical
from sklearn.preprocessing import StandardScaler


# One-hot encode categorical columns (excluding the target)
X, y = fetch_openml(name='adult', version=2, as_frame=True, return_X_y=True)
X = pd.get_dummies(X, drop_first=True)
y = y.map({'<=50K':0,'>50K':1}).astype(int)

# y = pd.get_dummies(y, drop_first=True)


# Standardize the data and normalize it because it prevents other features to dominate
# Mean =0 standard deviation =1
scalar = StandardScaler()
X[X.columns] = scalar.fit_transform(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# y[y.columns] = scalar.fit_transform(y)
print(X.head())
print(y.head())

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        age    fnlwgt  education-num  capital-gain  capital-loss  \
0 -0.995129  0.351675      -1.197259     -0.144804     -0.217127
1 -0.046942 -0.945524      -0.419335     -0.144804     -0.217127
2 -0.776316  1.394723       0.747550     -0.144804     -0.217127
3  0.390683 -0.277844      -0.030373      0.886874     -0.217127
4 -1.505691 -0.815954      -0.030373     -0.144804     -0.217127

   hours-per-week  workclass_Local-gov  workclass_Never-worked  \
0       -0.034087            -0.261940                -0.01431
1        0.772930            -0.261940                -0.01431
2       -0.034087             3.817672                -0.01431
3       -0.034087            -0.261940                -0.01431
4       -0.841104            -0.261940                -0.01431

   workclass_Private  workclass_Self-emp-inc  ...  native-country_Portugal  \
0           0.663711               -0.189609  ...                -0.037063
1           0.663711               -0.189609  ...                -0.037063
2          -1.506680               -0.189609  ...                -0.037063
3           0.663711               -0.189609  ...                -0.037063
4          -1.506680               -0.189609  ...                -0.037063

   native-country_Puerto-Rico  native-country_Scotland  native-country_South  \
0                   -0.061494                 -0.02074             -0.048581
1                   -0.061494                 -0.02074             -0.048581
2                   -0.061494                 -0.02074             -0.048581
3                   -0.061494                 -0.02074             -0.048581
4                   -0.061494                 -0.02074             -0.048581

   native-country_Taiwan  native-country_Thailand  \
0              -0.036505                -0.024791
1              -0.036505                -0.024791
2              -0.036505                -0.024791
3              -0.036505                -0.024791
4              -0.036505                -0.024791

   native-country_Trinadad&Tobago  native-country_United-States  \
0                       -0.023518                      0.338083
1                       -0.023518                      0.338083
2                       -0.023518                      0.338083
3                       -0.023518                      0.338083
4                       -0.023518                      0.338083

   native-country_Vietnam  native-country_Yugoslavia
0               -0.041999                  -0.021705
1               -0.041999                  -0.021705
2               -0.041999                  -0.021705
3               -0.041999                  -0.021705
4               -0.041999                  -0.021705

[5 rows x 97 columns]
0    0
1    0
2    1
3    1
4    0
Name: class, dtype: int64

In [127]:
import torch

X_train_tensor = torch.tensor(X_train.values, dtype=torch.float32)
X_test_tensor = torch.tensor(X_test.values, dtype=torch.float32)


y_train_tensor = torch.tensor(y_train.values, dtype=torch.float32).squeeze()
y_test_tensor = torch.tensor(y_test.values, dtype=torch.float32).squeeze()

In [128]:
print(X_train_tensor.shape)
print(X_test_tensor.shape)
print(y_train_tensor.shape)
print(y_test_tensor.shape)

torch.Size([39073, 97])
torch.Size([9769, 97])
torch.Size([39073])
torch.Size([9769])

In [129]:
# Create a model which for this case is a multilayer perceptron (MLP) or Fully Connected Neural Network (FNN)
# Input -> Dense -> ReLU -> Dropout -> Dense -> ... -> Output (sigmoid for classification)
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader, TensorDataset
# model = nn.Sequential(
#     nn.Linear(X_train_tensor.shape[1], 64),
#     nn.ReLU(),
#     nn.Dropout(0.2),
#     nn.Linear(64, 32),
#     nn.ReLU(),
#     nn.Dropout(0.2),
#     nn.Linear(32, 1),
#     nn.Sigmoid()
# )

class IncomeClassifier(nn.Module):
  def __init__(self, input_size):
    super(IncomeClassifier, self).__init__()
    self.fc1 = nn.Linear(input_size, 64)
    self.dropout1 = nn.Dropout(0.2)
    self.fc2 = nn.Linear(64, 32)
    self.dropout2 = nn.Dropout(0.2)
    self.fc3 = nn.Linear(32, 1)

  def forward(self, x):
    x = F.relu(self.fc1(x))
    x = self.dropout1(x)
    x = F.relu(self.fc2(x))
    x = self.dropout2(x)
    x = torch.sigmoid(self.fc3(x))
    return x

In [140]:
# Setup the dataloader for inputing into the model
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
test_dataset = TensorDataset(X_test_tensor, y_test_tensor)

train_dataloader = DataLoader(train_dataset, batch_size=500, shuffle=True)
test_dataloader = DataLoader(test_dataset, batch_size=500, shuffle=False)

print(torch.unique(test_dataloader.dataset.tensors[1]))
print(torch.unique(train_dataloader.dataset.tensors[1]))

tensor([0., 1.])
tensor([0., 1.])

In [145]:
# Summon the model

model = IncomeClassifier(X_train_tensor.shape[1])
# Create loss function for categorical you have BCELoss or BCEWithLogitsLoss
loss =  nn.BCELoss()
optimizer= torch.optim.Adam(model.parameters(), lr=0.001)

epochs = 10

for epoch in range(epochs):
  model.train()
  running_loss = 0.0
  for X_batch, y_batch in train_dataloader:
    optimizer.zero_grad()
    y_pred = model(X_batch).squeeze()
    # y_batch = torch.round(torch.sigmoid(y_batch)).squeeze()
    y_batch = y_batch.float().squeeze()
    loss_value = loss(y_pred, y_batch)
    loss_value.backward()
    optimizer.step()
    running_loss += loss_value.item()

  avg_loss = running_loss / len(train_dataloader)
  print(f"Epoch [{epoch+1}/{epochs}], Loss: {avg_loss:.4f}")

Epoch [1/10], Loss: 0.4871
Epoch [2/10], Loss: 0.3471
Epoch [3/10], Loss: 0.3350
Epoch [4/10], Loss: 0.3272
Epoch [5/10], Loss: 0.3218
Epoch [6/10], Loss: 0.3189
Epoch [7/10], Loss: 0.3138
Epoch [8/10], Loss: 0.3131
Epoch [9/10], Loss: 0.3101
Epoch [10/10], Loss: 0.3098

In [154]:
model.eval()
correct=0
total=0

with torch.no_grad():
  for X_batch, y_batch in test_dataloader:
    y_pred = model(X_batch).squeeze()
    y_pred = torch.round(y_pred).float()
    total += y_batch.size(0)
    correct += (y_pred == y_batch).sum().item()

accuracy = 100 * correct / total
print(f"Accuracy: {accuracy:.2f}%")

Accuracy: 85.36%

In [151]:
# Creating another model with BCEWithLogitsLoss() without sigmoid
class IncomeClassifier2(nn.Module):
  def __init__(self, input_size):
    super(IncomeClassifier2, self).__init__()
    self.fc1 = nn.Linear(input_size, 64)
    self.dropout1 = nn.Dropout(0.2)
    self.fc2 = nn.Linear(64, 32)
    self.dropout2 = nn.Dropout(0.2)
    self.fc3 = nn.Linear(32, 1)

  def forward(self, x):
    x = F.relu(self.fc1(x))
    x = self.dropout1(x)
    x = F.relu(self.fc2(x))
    x = self.dropout2(x)
    x = self.fc3(x)
    return x

In [152]:
# Summon the model

model2 = IncomeClassifier2(X_train_tensor.shape[1])
# Create loss function for categorical you have BCELoss or BCEWithLogitsLoss
loss =  nn.BCEWithLogitsLoss()
optimizer= torch.optim.Adam(model.parameters(), lr=0.001)

epochs = 10

for epoch in range(epochs):
  model2.train()
  running_loss = 0.0
  for X_batch, y_batch in train_dataloader:
    optimizer.zero_grad()
    y_pred = model(X_batch).squeeze()
    # y_batch = torch.round(torch.sigmoid(y_batch)).squeeze()
    y_batch = y_batch.float().squeeze()
    loss_value = loss(y_pred, y_batch)
    loss_value.backward()
    optimizer.step()
    running_loss += loss_value.item()

  avg_loss = running_loss / len(train_dataloader)
  print(f"Epoch [{epoch+1}/{epochs}], Loss: {avg_loss:.4f}")

Epoch [1/10], Loss: 0.6654
Epoch [2/10], Loss: 0.6652
Epoch [3/10], Loss: 0.6645
Epoch [4/10], Loss: 0.6639
Epoch [5/10], Loss: 0.6633
Epoch [6/10], Loss: 0.6631
Epoch [7/10], Loss: 0.6632
Epoch [8/10], Loss: 0.6629
Epoch [9/10], Loss: 0.6625
Epoch [10/10], Loss: 0.6627

In [155]:
model2.eval()
with torch.no_grad():
    y_logits = model(X_test_tensor).squeeze()
    y_probs = torch.sigmoid(y_logits)  # apply sigmoid manually for probability
    y_pred = (y_probs > 0.5).float()
    accuracy = (y_pred == y_test_tensor.squeeze()).float().mean()
    print(f"Test Accuracy: {accuracy:.4f}")

Test Accuracy: 0.7481